# Include the license file
include INSTALL
include Makefile
include LICENSE.txt
include RELEASE_NOTES
include doc/man/man1/black-list.1
include doc/man/man1/get-cdrs.1
include doc/man/man1/get-did-info.1
include .voip-ms.conf

